version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - NODE_ENV=development
      - HTTP_PORT=${HTTP_PORT:-8000}
    ports:
      - "${HTTP_PORT:-8000}:${HTTP_PORT:-8000}"
    volumes:
      - ".:/var/app"
    command: npm run start:dev
